<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RSG.Factory" version="1.1.8.0" targetFramework="net35" />
  <package id="RSG.Metrics" version="1.0.0.0" targetFramework="net35" />
  <package id="RSG.Promise" version="1.2.0.0" targetFramework="net35" />
  <package id="RSG.SceneQuery" version="1.0.6.0" targetFramework="net35" />
  <package id="RSG.Toolkit" version="1.0.1.0" targetFramework="net35" />
  <package id="RSG.UnityApp" version="0.3.3.0" targetFramework="net35" />
  <package id="Unity.Newtonsoft.Json" version="7.0.0.0" targetFramework="net35" />
</packages>